In [1]:
#!pip3 install sqlalchemy

In [2]:
import pandas as pd
import numpy as np
import sqlite3 as sql
from sqlalchemy import create_engine

In [3]:
#connect to Database
conn = sql.connect('sqlite_db_pythonsqlite.db')
c = conn.cursor()

#extract Members table as pd.df
m_result = c.execute("SELECT * FROM Members")
members_df = pd.DataFrame(m_result.fetchall())
m_colnames = list(map(lambda x: x[0], m_result.description))
members_df.columns = m_colnames

#print table to verify function of above code 
print(members_df.head())

   memid   surname firstname                       address  zipcode  \
0      0     GUEST     GUEST                         GUEST        0
1      1     Smith    Darren    8 Bloomsbury Close, Boston     4321
2      2     Smith     Tracy  8 Bloomsbury Close, New York     4321
3      3    Rownam       Tim        23 Highway Way, Boston    23423
4      4  Joplette    Janice    20 Crossing Road, New York      234

        telephone recommendedby             joindate
0  (000) 000-0000                2012-07-01 00:00:00
1    555-555-5555                2012-07-02 12:02:05
2    555-555-5555                2012-07-02 12:08:23
3  (844) 693-0723                2012-07-03 09:32:15
4  (833) 942-4710             1  2012-07-03 10:25:05

In [4]:
#extract Bookings table as pd.df
b_result = c.execute("SELECT * FROM Bookings")
bookings_df = pd.DataFrame(b_result.fetchall())
b_colnames = list(map(lambda x: x[0], b_result.description))
bookings_df.columns = b_colnames

print(bookings_df.head())

   bookid  facid  memid            starttime  slots
0       0      3      1  2012-07-03 11:00:00      2
1       1      4      1  2012-07-03 08:00:00      2
2       2      6      0  2012-07-03 18:00:00      2
3       3      7      1  2012-07-03 19:00:00      2
4       4      8      1  2012-07-03 10:00:00      1

In [5]:
#extract Facilities table as pd.df
f_result = c.execute("SELECT * FROM Facilities")
facilities_df = pd.DataFrame(f_result.fetchall())
f_colnames = list(map(lambda x: x[0], f_result.description))
facilities_df.columns = f_colnames

print(facilities_df.head())

#close conection to db
conn.close()

   facid             name  membercost  guestcost  initialoutlay  \
0      0   Tennis Court 1         5.0       25.0          10000
1      1   Tennis Court 2         5.0       25.0           8000
2      2  Badminton Court         0.0       15.5           4000
3      3     Table Tennis         0.0        5.0            320
4      4   Massage Room 1         9.9       80.0           4000

   monthlymaintenance
0                 200
1                 200
2                  50
3                  10
4                3000

'''Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! '''

In [6]:
# left merge facility info to bookings entries
b_f_df = bookings_df.merge(facilities_df, on='facid', how='left')
#print(b_f_df.head())

#create revenut col
b_f_df['revenue'] = np.where(b_f_df['memid'] > 0, 
                             b_f_df['membercost'] * b_f_df['slots'],
                             b_f_df['guestcost'] * b_f_df['slots'])
name_revenue = b_f_df.loc[:,['name','revenue']]
totrevenue = name_revenue.groupby('name').sum()
ANS = totrevenue[totrevenue['revenue'] < 1000]
print(ANS)

               revenue
name
Pool Table       270.0
Snooker Table    240.0
Table Tennis     180.0

''' Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order '''

In [7]:
#select relevant columns from members dataframe
m_recs = members_df.iloc[:,[0,1,2,6]]

#convert id datatypes to be compatible
m_recs.loc[:,'memid'] = pd.to_numeric(m_recs.loc[:,'memid'])
m_recs.loc[:,'recommendedby'] = pd.to_numeric(m_recs.loc[:,'recommendedby'])

# merge members to itself to link member IDs of recomendedby
m_w_recs = m_recs.merge(m_recs, left_on='recommendedby', right_on='memid', how='left', suffixes=('','_rec'))

#concatinate name strings to desired format
m_w_recs['Member'] = m_w_recs['surname']+','+m_w_recs['firstname']
m_w_recs['Recommended_by'] = m_w_recs['surname_rec']+','+m_w_recs['firstname_rec']

pairs = m_w_recs[['Member','Recommended_by']]
ANS = pairs.sort_values(by='Member')
print(ANS.head())

            Member   Recommended_by
15  Bader,Florence  Stibbons,Ponder
12      Baker,Anne  Stibbons,Ponder
16   Baker,Timothy   Farrell,Jemima
8       Boothe,Tim       Rownam,Tim
5   Butters,Gerald     Smith,Darren

''' Q12: Find the facilities with their usage by member, but not guests '''

In [8]:
# (1/2) Q12 this answer for finding usage by ALL mambers
# merge all dfs
big_df = bookings_df.merge(facilities_df, on='facid', how='left').merge(members_df, on='memid', how='left')
# isolate all records that apply to members
members_only = big_df[big_df['memid'] != 0]

# count number of uses of each facility 'name'
f_counts = members_only.groupby('name')['bookid'].count()
print(f_counts)

name
Badminton Court    344
Massage Room 1     421
Massage Room 2      27
Pool Table         783
Snooker Table      421
Squash Court       195
Table Tennis       385
Tennis Court 1     308
Tennis Court 2     276
Name: bookid, dtype: int64

In [9]:
#pd.options.mode.chained_assignment = None
# (2/2) Q12 this answer for finding usage by EACH member
#strip to needed columns
fm_df = members_only[['name', 'surname', 'firstname']]
formatted_df = fm_df

#format member name and isolate relevent columns
formatted_df['membername'] = fm_df['surname'] + ',' + fm_df['firstname']
formatted_short = formatted_df.iloc[:,[0,3]]
    #print(formatted_short.head())

# count how many instances of each facility match each member
pivot = formatted_short.pivot_table(values='membername', index=['name'], 
                                    columns='membername', aggfunc=lambda x: x.value_counts().sum())
# fill empty cells with zeros to clean table
ANS_12 = pivot.fillna(value=0)

print(ANS_12.iloc[:4,:4])       #verify answer format

membername       Bader,Florence  Baker,Anne  Baker,Timothy  Boothe,Tim
name
Badminton Court             9.0        10.0            7.0        12.0
Massage Room 1              0.0         3.0           24.0        36.0
Massage Room 2              2.0         2.0            0.0         0.0
Pool Table                 23.0        12.0           85.0        25.0

/var/folders/_w/xxwqncbj69xfsg6qtjh7f1640000gn/T/ipykernel_13087/3076717328.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  formatted_df['membername'] = fm_df['surname'] + ',' + fm_df['firstname']

''' Q13: Find the facilities usage by month, but not guests'''

In [10]:
# left merge facility info to bookings entries
bfdf = bookings_df.merge(facilities_df, on='facid', how='left')

#extract month values from date time string
bfdf['month'] = bfdf['starttime']
bfdf['month'] = bfdf['month'].str.slice(start=5, stop=7)
#print(bfdf.head())

#Isolate relevant columns
q13 = bfdf.loc[:,['name','bookid','slots']]
#print(q13.head())

facility_usage_total_slots = q13.groupby('name')['slots'].sum()
print(facility_usage_total_slots.head())

#f_counts = members_only.groupby('name')['bookid'].count()

name
Badminton Court    1209
Massage Room 1     1404
Massage Room 2      228
Pool Table          910
Snooker Table       908
Name: slots, dtype: int64

'''  EXPLORATORY SQL QUERIES FOR COMPARISON

conn = sql.connect('sqlite_db_pythonsqlite.db')
c = conn.cursor()
result = c.execute(
    """WITH revenues AS(
SELECT f.name AS facility,
	CASE WHEN memid = 0 THEN slots*guestcost
		WHEN memid != 0 THEN slots*membercost
    	END AS revenue
FROM Bookings as b
        LEFT JOIN Facilities AS f
        USING (facid)
    )
SELECT facility, sum(revenue) AS revenue
FROM revenues    
GROUP BY facility    
HAVING revenue < 1000
ORDER BY revenue DESC"""
)
df = pd.DataFrame(result.fetchall())
conn.close()
df.columns = ['Facility', 'Revenue']
small_rev = df[df['Revenue'] < 1000]
print(small_rev) 
'''

'''    EXPLORATORY SQL QUERIES FOR COMPARISON

conn = sql.connect('sqlite_db_pythonsqlite.db')
c = conn.cursor()
result = c.execute(
    """SELECT m1.surname||','||m1.firstname AS member_name, 
        m2.surname||','||m2.firstname AS recommended_by
FROM Members as m1
LEFT JOIN Members as m2
	ON m1.recommendedby = m2.memid
ORDER BY member_name"""
)
df = pd.DataFrame(result.fetchall())
conn.close()
df.columns = ['Member_name', 'Recommended_by']
recs = df
print(recs)
'''